<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php" colors="true">
    <extensions>
        <extension class="Czechphp\NationalIdentificationNumberBundle\Tests\BypassFinalHook"/>
    </extensions>

    <testsuites>
        <testsuite name="Czechphp National Identification Number Bundle Test Suite">
            <directory>./Tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
